/***********************************************************************/
/*                          ATRIBUTOS GENERALES                        */

/*Borramos los margenes predeterminados de los navegadores web*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* define cómo se calcula el ancho y alto de cada elemento */
}

h1 {
  font-size: 40px;
  padding: 2px;
}

/*Estilo del body por defecto*/
body {
  color: #222;
  font-family: 'Roboto';
  background-color: rgb(245, 245, 245);
  transition: 0.5s;
}
/***********************************************************************/

/***********************************************************************/
/*                                CABECERA                             */
/*Estilo de la cabecera de la pagina web*/
#cabecera  {
  color:white;
  background-color: #ffaa56;
}

.titulo-barra {
  padding: 40px;
  width: 90%;
  text-align: center;
}

.logo{
  float:left;
  padding:5px;
  margin-right: 24px;
}
/***********************************************************************/

/***********************************************************************/
/*                                MENÚ                                 */

/*Estilo de la barra de navegacion / Menu*/
.barra-navegacion {
  list-style-type: none;   /*Borra los puntos de la lista*/
  overflow: hidden;
  background-color: #ff9933;
}

.barra-navegacion a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  /*Quita el subrayado*/
}

/*Cuando pasa el raton por alguna seccion del la barra de navegacion
  cambia el color de fondo y el color de la fuente*/
.barra-navegacion a:hover {
  background-color: #ffaa56;
  color: #222;
}
/***********************************************************************/


/***********************************************************************/
/*                            BARRA LATERAL                           */

/*Estilo de la columna izquierda (informacion adicional)*/
.barra-lateral {
  flex: 19%;
  padding: 20px;
  background-color: white;
  border-right: 1px solid lightgray;
}

.barra-lateral p {
  font-size: 16px;
  padding: 1px;
}

p.titulo-lateral{
  font-weight: bold;
  padding: 2px;
  margin-bottom: 4px;
}

.barra-lateral a{
  text-decoration: none;
  color: #222;
}

.barra-lateral a:hover{
  color: #ff9933;
}
/***********************************************************************/

/***********************************************************************/
/*                           BLOQUE PRINCIPAL                          */
/*Estilo del contenido principal de un evento*/
.bloque-principal {
  display: flex;
  flex-wrap: nowrap;
}

.bloque-principal p {
  font-size: 18px;
  padding: 1px;
  line-height: 160%;
}

.informacion h2 {
  font-size: 35px;
  padding: 2px;
}

p.organizador {
  font-size: 25px;
  font-weight: bold;
  padding: 2px;
}

p.fecha{
  padding: 2px;
  margin-bottom: 10px;
  font-weight: bold;
}

/*Estilo del contenido principal de un evento*/
.informacion {
  flex: 79%;
  padding: 20px;
  margin-left: 2%;
  margin-top: 2%;
}
/***********************************************************************/

/***********************************************************************/
/*                           IMAGENES EVENTOS                         */
/*Estilo de las imagenes de los eventos*/
.imagenes-evento {
  float: right;
  width: 30%;
  text-align: center;
}

.img-evento {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 100%;
  height: auto;
}

.texto-imagen p{
  font-size: 12px;
}

/***********************************************************************/

/***********************************************************************/
/*                           IMAGENES PRINCIPAL                       */
/*Estilo de cada foto con el nombre de su evento*/
.polaroid {
  float: left;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 3%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid:hover {
  background-color: rgb(240, 240, 240);
}

.texto-polaroid {
  text-align: center;
  padding: 10px 20px;
  white-space: nowrap; /* Evitar que se añada una nueva linea con zoom */
}

.polaroid img {
  width: 100%;
}

.polaroid a {
  text-decoration: none;
  color: #222;
}

.polaroid p {
  font-size: 1.4vw;
}

/***********************************************************************/

/***********************************************************************/
/*                           BOTONES SOCIAL                            */

/*Estilo de los icones para las redes sociales*/
.social {
  float: left;
  padding: 10px;
  margin:10px;
  cursor: pointer;
}

/*Estilo del icono imprimir*/
.imprimir {
  float: right;
  padding: 10px;
  margin: 10px;
}

.imprimir:hover {
  background-color: darkgray;
}
/***********************************************************************/


/***********************************************************************/
/*                            PIE DE PÁGINA                            */
/*Estilo del pie de pagina*/
footer {
  padding: 20px;
  background-color: #ffdc85;
  color: black;
  text-align: center;
}

footer p{
  font-size: 14px;
  padding: 1px;
}
/***********************************************************************/

/***********************************************************************/
/*                           PANEL DE COMENTARIOS                     */
#abrir-comentarios {
  float: right;
  cursor: pointer;
}

.comentarios-eventos {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.comentarios-eventos h2 {
  text-align: center;
  margin-bottom: 5%;
}
/***********************************************************************/

/***********************************************************************/
/*                        COMENTARIOS DE USUARIOS                     */
.imagen-comentario{
  float: left;
  width: 50px;
  height: 50px;
  margin-right:10px;
}

.comentario{
  padding: 20px;
  border-bottom: 1px solid rgb(175, 170, 170);
}

.correo-usuario{
  padding: 1px;
}

.fecha-usuario{
  padding: 5px;
}
    
.formulario{
  padding: 20px;
}

.formulario .grupo-formulario{
  padding-bottom: 15px;
}

.formulario label{
  display:block;
}

.formulario input[type="text"], .formulario textarea{
  padding: 8px;
  width: 100%;
}

.formulario textarea{
  resize: none;
  height: 100px;
}

.formulario input[type="submit"]{
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
}
/***********************************************************************/

/***********************************************************************/
/*                                 ETIQUETAS                           */
/*Etiquetas por tipo de evento*/
.etiquetas {
  display: flex;
  margin-bottom: 2%;
}

.etiqueta {
  background-color: #ffaa56;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  outline:none;
}

.etiqueta:hover {
  background-color: #ff9933;
}
/***********************************************************************/

/***********************************************************************/
/*                                VIDEOS                               */

iframe {
  margin: 5%;
}

/***********************************************************************/

/***********************************************************************/
/*                                GALERIA                              */

.boton-imagenes {
  background-color: #ffaa56;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.galeria {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.contenido-galeria {
  position: relative;
  margin: auto;
  padding: 0;
  width: 500px;
}

.cerrar-galeria {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.cerrar-galeria:hover,
.cerrar-galeria:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.imagen-galeria {
  display: none;
  width: 500px;
  height: auto;
}

.imagen-galeria img {
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/***********************************************************************/

/***********************************************************************/
/*                         VENTANA EMERGENTE                           */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 4% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}
/***********************************************************************/

/***********************************************************************/
/*                         INICIO SESION/REGISTRO                      */
#iniciar-sesion,
#desconectar,
#perfil,
#panel-control {
  float: right;
  cursor: pointer;
}

.contenido-inicio-sesion {
  display: flex;
}

.zona-inicio {
  flex: 49%;
}

.zona-registro {
  flex:49%;
}

.zona-inicio h2,
.zona-registro h2 {
  margin-bottom: 2%;
}

.formulario-inicio {
  padding: 20px;
}

.formulario-inicio .grupo-formulario{
  padding-bottom: 15px;
}

.formulario-inicio label{
  display:block;
}

.formulario-inicio input[type="text"],
.formulario-inicio input[type="password"],
.formulario-inicio textarea{
  padding: 8px;
  width: 60%;
}

.formulario-inicio textarea{
  resize: none;
  height: 280px;
}

.formulario-inicio input[type="submit"]{
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
/***********************************************************************/

/***********************************************************************/
/*                         PERFIL USUARIO                              */
#editar-informacion {
  margin: 0;
  padding: 0;
  width: 200px;
  overflow: auto;
}

#editar-informacion a {
  display: block;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
}

#editar-nombre,
#editar-email,
#form-img2,
#form-img1,
#editar-pass {
  display: none;
}

#texto-evento {
  height: 400px;
}
/***********************************************************************/

/***********************************************************************/
/*                         PANEL DE CONTROL                            */
.busqueda-tabla {
  background-image: url('/imgs/iconos/round-search-24px.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.tabla {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  margin-bottom: 3%;
}

.tabla th, .tabla td {
  text-align: left;
  padding: 12px;
}

.tabla tr {
  border-bottom: 1px solid #ddd;
}

.tabla tr.header, .tabla tr:hover {
  background-color: #f1f1f1;
}

td a {
  text-decoration: none;
  color: #222;
}

.addEvento {
  text-align: center;
}

.imgs {
  display: flex;
}

.img1, .img2 {
  flex: 45%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.btn-eliminar {
  background-color: #ff1a1a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/***********************************************************************/

/***********************************************************************/
/*                         EDITAR EVENTO                               */

#inTitulo,
#inOrganizador,
#inFecha,
#inTexto,
#inImgTitulo1,
#inImgTitulo2,
#inImgCreditos1,
#inImgCreditos2,
#guardar-evento {
  display: none;
}

/***********************************************************************/

/***********************************************************************/
/*                         GESTION COMENTARIOS                         */

#editar-comentario,
#borrar-comentario {
  float: right;
  cursor: pointer;
}

#inTextoE,
#guardar-comentario {
  display: none;
}

#textoE {
  height: 100px;
}

.editado {
  font-style: italic;
}

.boton-guardar {
  background-color: #ffaa56;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}