<!DOCTYPE html>
<html lang="es-ES">
    <head>
        {% block head %}
            <base href="http://localhost:8080" />
            <meta charset="UTF-8">
            <meta name="descripcion" content="Promoción de eventos musicales">
            {% block estilo %}
                <link rel="stylesheet" type="text/css" href="/css/estilo.css">
            {% endblock %}
            <!--Fuente Roboto de Google-->
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <!--Favicon-->
            <link rel="icon" href="/imgs/favicon.png" type="imgs">
            <title>Bop Fest</title>
        {% endblock %}
    </head>

    <body>
        {% block header %}
            <header id='cabecera'>
                <div class='titulo-barra'>
                    <a href='principal'>
                        <img class='logo' src='/imgs/logo.png' alt='logo'>
                    </a>
                    <h1>Bop Fest</h1>
                </div>
            </header>
        {% endblock %}
        
        <!--Barra de menu-->
        <nav class='barra-navegacion'>
            {% block menu %}
                <a href='principal'>Eventos</a>
                <a href='contacto'>Contacto</a>

                {% if usuario == "none" %}
                    <a id="iniciar-sesion" href="iniciar-sesion">Iniciar sesión</a>
                {% else %}
                    <a id="desconectar" data-usuario-id={{usuario.id_usuario}}>Desconectar</a>
                    <a id="panel-control" href="panel-control">Panel de control</a>
                {% endif %}
            {% endblock %}
        </nav>

        <main class="bloque-principal">
            {% block side %}
                <!--Columna lateral izquierda (Informacion adicional)-->
                <aside class="barra-lateral">
                    {% block sidebar %}
                    {% endblock %}
                </aside>
            {% endblock %}

            {% block comentarios %}
            {% endblock %}

            <!--Parte principal de la pagina donde salen 9 eventos (600x400)-->
            <section class="informacion">
                {% block etiquetas %}
                {% endblock %}
                
                <div id="polaroids">
                    {% block content %}
                    {% endblock %}
                </div>
                {% block galeria %}
                {% endblock %}
            </section>
        </main>
    
        <div class="clr"></div>

        <!--Pie de pagina-->
        <footer>
            {% block footer %}
                <p>Pie de página</p>
                <p>&copy; 2019 - Víctor Peralta y Diego García</p>
            {% endblock %}
        </footer>
    </body>
    <script type="text/javascript" src="js/desconectar.js"></script>
</html>