{% extends "base.html" %}

{% block menu %}
    <a href='principal'>Eventos</a>
    <a href='contacto'>Contacto</a>
    <a id="abrir-comentarios" class="btn-comentarios">Comentarios</a>
    {% if usuario == "none" %}
        <a id="iniciar-sesion" href="iniciar-sesion">Iniciar sesión</a>
    {% else %}
        <a id="desconectar" data-usuario-id={{usuario.id_usuario}}>Desconectar</a>
        <a id="panel-control" href="panel-control">Panel de control</a>
{% endif %}
{% endblock %}

{% block comentarios %}
    <!--Panel de comentarios-->
    <aside id="zona-comentarios" class="comentarios-eventos">
        <h2>Comentarios</h2>
        <section id="lista-comentarios">
            <!--Comentarios -->
            {% for comentario in comentarios %}
                <div class="comentario" data-id-comentario={{comentario.id_comentario}}>
                    <div class="cuadro-usuario">
                        <img class="imagen-comentario" src="imgs/user.png" alt="usuario1">
                        <div class="datos-usuario">
                            <img id="borrar-comentario" src="/imgs/iconos/round-delete-24px.svg" alt="">
                            <img id="editar-comentario" src="/imgs/iconos/round-create-24px.svg" alt="">
                            <h3 class="nombre-usuario">{{comentario.nombre}}</h3>
                            <p class="fecha-usuario">{{comentario.fecha | date("d/m/Y H:i:s")}}</p>
                            <p class="comentario-usuario">{{comentario.texto}}</p>
                            <div id="inTextoE" class="grupo-formulario">
                                <textarea name="texto-comentario" id="textoE">{{comentario.texto}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!--Comentarios dinamicos-->
            <div id="comentarios-dyn"></div>
        </section>

        {% if (usuario.tipo == 'registrado') %}
        <!--Formulario para añadir un comentario-->
        <form class="formulario">
            <div class="grupo-formulario">
                <label>Nombre: </label>
                <input type="text" name="nombre" id="nombre-form">
            </div>
            <div class="grupo-formulario">
                <label>Email: </label>
                <input type="text" name="email" id="email-form">
            </div>
            <div class="grupo-formulario">
                <label>Mensaje: </label>
                <textarea name="mensaje" id="mensaje-form"></textarea>
            </div>

            <input id="boton-comentario" type="submit" value="Enviar">
        </form>
        {% endif %}
    </aside>
    

    <script type="text/javascript" src="js/comentarios.js"></script>
{% endblock %}

{% block content %}
    {% block imagenesevento %}
        <div class="imagenes-evento">
            {% for imagen in imagenes %}
                <img class="img-evento" src={{imagen.imagen}} alt="sfdkimg1"> 
                <div class="texto-imagen">
                    <p>{{imagen.titulo}}</p>
                    <div id="inImgTitulo" class="formulario-inicio grupo-formulario">
                        <input type="text" name="uname" value="{{imagen.titulo}}" id="titulo-evento">
                    </div>
                    <p>{{imagen.creditos}}</p>
                    <div id="inImgCreditos" class="formulario inicio grupo-formulario">
                        <input type="text" name="uname" value="{{imagen.creditos}}" id="titulo-evento">
                    </div>
                </div>
            {% endfor %}
            
            {% if galeria %}
                <button id="abrir-galeria" class="boton-imagenes">Ver más fotos</button>
            {% endif %}
        </div>
    {% endblock %}

    <div class="formulario-inicio">
        <h2 id={{evento.id_evento}} class="titulo">{{evento.titulo}}
                <img id="editar-evento" src="/imgs/iconos/round-create-24px.svg" alt="">
                <img id="guardar-evento" src="/imgs/iconos/round-done-24px.svg" alt="">
        </h2>
        <div id="inTitulo" class="grupo-formulario">
            <input type="text" name="uname" value="{{evento.titulo}}" id="titulo-evento">
        </div>
        <p class="organizador">{{evento.organizador}}</p>
        <div id="inOrganizador" class="grupo-formulario">
            <input type="text" name="uname" value="{{evento.organizador}}" id="organizador">
        </div>
        <p class="fecha">{{evento.fecha | date("d/m/Y")}}</p>
        <div id="inFecha" class="grupo-formulario">
            <input type="text" name="uname" value="{{evento.fecha | date("d/m/Y")}}" id="fecha-evento">
        </div>
        <p class="texto">{{evento.texto | nl2br}}</p>
        <div id="inTexto" class="grupo-formulario">
            <textarea name="texto-evento" id="texto-evento">{{evento.texto}}</textarea>
        </div>

        <div id="fechas">
            <h4>Fecha de publicación: {{evento.fecha_creacion | date("d/m/Y H:i:s")}}</h4>
            <h4>Fecha de última modificación: {{evento.fecha_modif | date("d/m/Y H:i:s")}}</h4>
        </div>
        <script type="text/javascript" src="/js/editar-evento.js"></script>
    </div>

    {% block social %}
    {% set rrss = ['Twitter', 'Facebook'] %}
        <!--Botones Sociales-->
        <div class="social">
            <img id={{rrss[0]}} src="imgs/twitter.png" alt="Twitter">   
            <img id={{rrss[1]}} src="imgs/facebook.png" alt="Facebook">
        </div>

        {% for rs in rrss %}
            <!-- Ventana emergente -->
            <div id="modal{{rs}}" class="modal">
                <!-- Contenido -->
                <div class="modal-content">
                    <p>Se publicará en {{rs}} el siguiente mensaje:</p>
                    <p>{{evento.titulo}} vía @bopfest</p>
                    <img class="img-evento" src={{imagenes[0].imagen}} alt="">
                    <button id="modal-cerrar{{rs}}" class="boton-imagenes">Aceptar</button>
                </div>
            </div>
        {% endfor %}

        <script type="text/javascript" src="/js/popup.js"></script>
    {% endblock %}

    <a id="btn-imprimir" href="evento/{{evento.id_evento}}/imprimir">
        <img class="imprimir" src="imgs/baseline-local_printshop-24px.svg" alt="Print">
    </a>

    {% block video %}
        {% if evento.url_video != '' %}
            <iframe width="640" height="360" src={{evento.url_video}}></iframe>
        {% endif %}
    {% endblock %}
    
{% endblock %}

{% block sidebar %}
    <p class="titulo-lateral">Información adicional</p>
    <p>{{evento.info_adicional}}</p>
{% endblock %}

{% block galeria %}
    {% if galeria %}
        <div id="galeriaEvento" class="galeria">
            <span id="cerrar-galeria" class="cerrar-galeria">&times;</span>
            <div class="contenido-galeria">
                {% for imagen in galeria %}
                    <div class="imagen-galeria">
                        <img src={{imagen.imagen}}>
                    </div>
                {% endfor %}

                <!-- Next/previous controls -->
                <a id="anterior" class="prev">&#10094;</a>
                <a id="siguiente" class="next">&#10095;</a>
            </div>
        </div>

        <script type="text/javascript" src="js/galeria.js"></script>
    {% endif %}
{% endblock %}