{% extends "base.html" %}

{% block menu %}
    <a href='principal'>Eventos</a>
    <a href='contacto'>Contacto</a>
    <a id="abrir-comentarios" class="btn-comentarios">Comentarios</a>

    {% if usuario == "anonimo" %}
        <a id="iniciar-sesion" href="iniciar-sesion">Iniciar sesión</a>
    {% else %}
        <a id="desconectar" data-usuario-id={{usuario.id_usuario}}>Desconectar</a>
        <a id="perfil" href="perfil">Mi perfil</a>
        {% if   (usuario.tipo == 'gestor') or (usuario.tipo == 'moderador') or (usuario.tipo == 'superusuario') %}
            <a id="panel-control" href="panel-control">Panel de control</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block comentarios %}
    <!--Panel de comentarios-->
    <aside id="zona-comentarios" class="comentarios-eventos">
        <h2>Comentarios</h2>
        <section id="lista-comentarios">
            <!--Comentarios -->
            {% for comentario in comentarios %}
                <div class="comentario" data-id-comentario={{comentario.id_comentario}}>
                    <div class="cuadro-usuario">
                        <img class="imagen-comentario" src="imgs/user.png" alt="usuario1">
                        <div class="datos-usuario">
                            {% if (usuario.tipo == "moderador") or (usuario.tipo == "superusuario") %}
                            <img id="borrar-comentario" class="btn-comentario" data-index={{loop.index}} src="/imgs/iconos/round-delete-24px.svg" alt="">
                            <img id="editar-comentario" class="btn-editar" data-index={{loop.index}} src="/imgs/iconos/round-create-24px.svg" alt="">
                            {% endif %}
                            <h3 class="nombre-usuario">{{comentario.nombre}}</h3>
                            <p class="fecha-usuario">{{comentario.fecha | date("d/m/Y H:i:s")}}</p>
                            <p class="comentario-usuario">{{comentario.texto}}</p>
                            {% if comentario.editado %}
                            <p class="editado">Mensaje editador por el moderador {{comentario.editado}}</p>
                            {% endif %}
                            <div id="inTextoE" class="grupo-formulario" data-index={{loop.index}}>
                                <textarea class="nuevo-texto" name="texto-comentario" id="textoE" data-index={{loop.index}}>{{comentario.texto}}</textarea>
                                <input type="text" value="{{usuario.nombre}}" name="nombre" id="nombre-edit">
                            </div>
                            <button id="guardar-comentario" class="boton-guardar" data-index={{loop.index}}>Guardar</button>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!--Comentarios dinamicos-->
            <div id="comentarios-dyn"></div>
        </section>

        {% if usuario.tipo == 'registrado' or usuario.tipo == 'moderador' or usuario.tipo == 'gestor' or usuario.tipo == 'superusuario' %}
        <!--Formulario para añadir un comentario-->
        <form class="formulario">
            <div class="grupo-formulario">
                <label>Nombre: </label>
                <input type="text" value="{{usuario.nombre}}" name="nombre" id="nombre-form">
            </div>
            <div class="grupo-formulario">
                <label>Email: </label>
                <input type="text" value="{{usuario.email}}" name="email" id="email-form">
            </div>
            <div class="grupo-formulario">
                <label>Mensaje: </label>
                <textarea name="mensaje" id="mensaje-form"></textarea>
            </div>

            <input id="boton-comentario" type="submit" value="Enviar">
        </form>
        {% endif %}
    </aside>
    

    <script type="text/javascript" src="js/comentarios.js"></script>
{% endblock %}

{% block content %}
    {% block imagenesevento %}
        {% if imagenes %}
            <div class="imagenes-evento">  
                <img class="img-evento" id="img1-evento" src={{imagenes[0].imagen}} alt="sfdkimg1" data-id-imagen={{imagenes[0].id_imagen}}> 
                <form id="form-img1" enctype="multipart/form-data">
                    <input name="img1" type="file" id="img1"/>
                </form>

                <div class="texto-imagen">
                    <p id="tituloImg1">{{imagenes[0].titulo}}</p>
                    <div id="inImgTitulo1" class="formulario-inicio grupo-formulario">
                        <input type="text" name="uname" value="{{imagenes[0].titulo}}" id="editar-titulo-imagen1">
                    </div>
                    <p id="creditosImg1">{{imagenes[0].creditos}}</p>
                    <div id="inImgCreditos1" class="formulario inicio grupo-formulario">
                        <input type="text" name="uname" value="{{imagenes[0].creditos}}" id="editar-creditos-imagen1">
                    </div>
                </div>

                <img class="img-evento" id="img2-evento" src={{imagenes[1].imagen}} alt="sfdkimg1" data-id-imagen={{imagenes[1].id_imagen}}> 
                <form id="form-img2" enctype="multipart/form-data">
                    <input name="img2" type="file" id="img2"/>
                </form>

                <div class="texto-imagen">
                    <p id="tituloImg2">{{imagenes[1].titulo}}</p>
                    <div id="inImgTitulo2" class="formulario-inicio grupo-formulario">
                        <input type="text" name="uname" value="{{imagenes[1].titulo}}" id="editar-titulo-imagen2">
                    </div>
                    <p id="creditosImg2">{{imagenes[1].creditos}}</p>
                    <div id="inImgCreditos2" class="formulario-inicio grupo-formulario">
                        <input type="text" name="uname" value="{{imagenes[1].creditos}}" id="editar-creditos-imagen2">
                    </div>
                </div>
            {% if galeria %}
                <button id="abrir-galeria" class="boton-imagenes">Ver más fotos</button>
            {% endif %}
            </div>
        {% endif %}
    {% endblock %}

    <div class="formulario-inicio">
        <h2 id={{evento.id_evento}} class="titulo">{{evento.titulo}}
                {% if (usuario.tipo == "gestor") or (usuario.tipo == "superusuario") %}
                <img id="editar-evento" src="/imgs/iconos/round-create-24px.svg" alt="">
                <img id="guardar-evento" src="/imgs/iconos/round-done-24px.svg" alt="">
                {% endif %}
        </h2>
        <div id="inTitulo" class="grupo-formulario">
            <input type="text" name="uname" value="{{evento.titulo}}" id="editar-titulo-evento">
        </div>
        <p id="organizador" class="organizador">{{evento.organizador}}</p>
        <div id="inOrganizador" class="grupo-formulario">
            <input type="text" name="uname" value="{{evento.organizador}}" id="editar-organizador">
        </div>
        <p id="fecha" class="fecha">{{evento.fecha | date("d/m/Y")}}</p>
        <div id="inFecha" class="grupo-formulario">
            <input type="text" name="uname" value="{{evento.fecha | date("d/m/Y")}}" id="editar-fecha-evento">
        </div>
        <p id="texto" class="texto">{{evento.texto | nl2br}}</p>
        <div id="inTexto" class="grupo-formulario">
            <textarea name="texto-evento" id="editar-texto-evento">{{evento.texto}}</textarea>
        </div>

        <div id="fechas">
            <h4>Fecha de publicación: {{evento.fecha_creacion | date("d/m/Y H:i:s")}}</h4>
            <h4>Fecha de última modificación: {{evento.fecha_modif | date("d/m/Y H:i:s")}}</h4>
        </div>
        <script type="text/javascript" src="/js/editar-evento.js"></script>
    </div>

    {% block social %}
    {% set rrss = ['Twitter', 'Facebook'] %}
        <!--Botones Sociales-->
        <div class="social">
            <img id={{rrss[0]}} src="imgs/twitter.png" alt="Twitter">   
            <img id={{rrss[1]}} src="imgs/facebook.png" alt="Facebook">
        </div>

        {% for rs in rrss %}
            <!-- Ventana emergente -->
            <div id="modal{{rs}}" class="modal">
                <!-- Contenido -->
                <div class="modal-content">
                    <p>Se publicará en {{rs}} el siguiente mensaje:</p>
                    <p>{{evento.titulo}} vía @bopfest</p>
                    <img class="img-evento" src={{imagenes[0].imagen}} alt="">
                    <button id="modal-cerrar{{rs}}" class="boton-imagenes">Aceptar</button>
                </div>
            </div>
        {% endfor %}

        <script type="text/javascript" src="/js/popup.js"></script>
    {% endblock %}

    <a id="btn-imprimir" href="evento/{{evento.id_evento}}/imprimir">
        <img class="imprimir" src="imgs/baseline-local_printshop-24px.svg" alt="Print">
    </a>

    {% block video %}
        {% if evento.url_video != '' %}
            <iframe width="640" height="360" src={{evento.url_video}}></iframe>
        {% endif %}
    {% endblock %}
    
{% endblock %}

{% block sidebar %}
    <p class="titulo-lateral">Información adicional</p>
    <p>{{evento.info_adicional}}</p>
{% endblock %}

{% block galeria %}
    {% if galeria %}
        <div id="galeriaEvento" class="galeria">
            <span id="cerrar-galeria" class="cerrar-galeria">&times;</span>
            <div class="contenido-galeria">
                {% for imagen in galeria %}
                    <div class="imagen-galeria">
                        <img src={{imagen.imagen}}>
                    </div>
                {% endfor %}

                <!-- Next/previous controls -->
                <a id="anterior" class="prev">&#10094;</a>
                <a id="siguiente" class="next">&#10095;</a>
            </div>
        </div>

        <script type="text/javascript" src="js/galeria.js"></script>
    {% endif %}
{% endblock %}