<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <base href="http://localhost:8080" />
        <meta charset="UTF-8">
        <meta name="descripcion" content="Promoción de eventos musicales">
        <!--Hoja de estilo-->
        <link rel="stylesheet" type="text/css" href="css/estilo.css">
        <!--Fuente Roboto de Google-->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!--Favicon-->
        <link rel="icon" href="imgs/favicon.png" type="imgs">
        <title>Bop Fest</title>
    </head>

    <body>
        <!--Barra superior en la que aparece un logo y un titulo-->
        <header id="cabecera">
            <div class="titulo-barra">
                <img class="logo" src="imgs/logo.png" alt="logo">
                <h1>Bop Fest</h1>
            </div>
        </header>

        <!--Barra de menu-->
        <nav class="barra-navegacion">
            <a href="principal.html">Eventos</a>
            <a href="#Blog">Blog</a>
            <a href="contacto.html">Contacto</a>
        </nav>

        <main class="bloque-principal">
            <!--Columna lateral izquierda (Informacion adicional)-->
            <aside class="barra-lateral">
                <p class="titulo-lateral">Patrocinadores</p>
                <p><a href="https://www.eurostarshotels.com/">Eurostars Hotels</a></p>
                <p><a href="https://www.lavanguardia.com/">La Vanguardia</a></p>

                <p class="titulo-lateral">Colaboradores</p>
                <p><a href="http://www.renfe.com/">Renfe</a></p>
                <p><a href="https://www.mitaxi.net/">MyTaxi</a></p>
            </aside>

            <!--Parte principal de la pagina donde salen 9 eventos (600x400)-->
            <section class="informacion">
                {% block content %}
                    {% for polaroid in polaroids %}
                        <div class="polaroid">
                            <a href={{polaroid.enlace}}>
                                <img src={{polaroid.imagen}} alt="">
                                <div class="texto-polaroid">
                                    <p>{{polaroid.titulo}}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endblock %}
            </section>
        </main>

        <div class="clr"></div>

        <!--Pie de pagina-->
        <footer>
            <p>Pie de página</p>
            <p>&copy; 2019 - Víctor Peralta y Diego García</p>
        </footer>
    </body>
</html>