{% extends "base.html" %}

{% block sidebar %}
<p class="titulo-lateral">Panel de control</p>
<div id="editar-informacion">
    {% if (usuario.tipo == "gestor") or (usuario.tipo == "superusuario") %}
    <a id="btnEventos">Eventos</a>
    <a id="btnAddEventos">Añadir Evento</a>
    {% endif %}
    {% if (usuario.tipo == "moderador") or (usuario.tipo == "superusuario") %}
    <a id="btnComentarios">Comentarios</a>
    {% endif %}
    {% if (usuario.tipo == "superusuario") %}
    <a id="btnUsuarios">Usuarios</a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
{% if (usuario.tipo == "gestor") or (usuario.tipo == "superusuario") %}
<div id="lista-eventos">
    <h2>Lista de eventos</h2>
    <!--Barra de busqueda-->
    <input type="text" id="busquedaE" class="busqueda-tabla" placeholder="Busca por título de evento..." title="Escribe el nombre de un evento">
    <!--Tabla Eventos-->
    <table id="tablaE" class="tabla">
    <tr class="header">
        <th>#</th>
        <th>Título de evento</th>
        <th>Etiquetas</th>
    </tr>
    {% for polaroid in polaroids %}
    <tr>
        <td><a href="evento/{{polaroid.id_evento}}">{{polaroid.id_evento}}</a></td>
        <td><a href="evento/{{polaroid.id_evento}}">{{polaroid.titulo}}</a></td>
        <td>{{polaroid.etiqueta}}</td>
    </tr>
    {% endfor %}
    </table>
</div>

<div id="formEvento">
    <h2>Añadir un evento</h2>
    <form id="addEvento" class="formulario">
        <div class="grupo-formulario">
            <p>Título: <input type="text" name="titulo" id="tituloE"></p>
            <p>Organizador: <input type="text" name="organizador" id="organizadorE"></p>
            <p>Fecha: <input type="text" name="fecha" id="fechaE"></p>
            <p>Descripción: <textarea type="text" name="titulo" id="descripcionE"></textarea></p>
            <p>Imagen principal: 
                <form method="POST" enctype="multipart/form-data">
                    <input name="imgPrincipal" type="file" id="imgPrincipal"/>
                </form>
            </p>
            <div class="imgs">
                <div class="img1">
                    <p>Imagen 1: 
                        <form enctype="multipart/form-data">
                            <input name="img1" type="file" id="img1"/>
                        </form>
                    </p>
                    <p>Título imagen 1: <input type="text" name="tituloImg1" id="tituloImg1"></p>
                    <p>Créditos imagen 1: <input type="text" name="credImg1" id="credImg1"></p>
                </div>
                <div class="img2">
                    <p>Imagen 2: 
                        <form enctype="multipart/form-data">
                            <input name="img2" type="file" id="img2"/>
                        </form>
                    </p>
                    <p>Título imagen 2: <input type="text" name="tituloImg2" id="tituloImg2"></p>
                    <p>Créditos imagen 2: <input type="text" name="credImg2" id="credImg2"></p>
                </div>
            </div>
            <input class="boton" type="button" value="Añadir evento" name="guardarEvento" id="guardarEvento">
        </div>
    </form>
</div>
{% endif %}

{% if (usuario.tipo == "moderador") or (usuario.tipo == "superusuario") %}
<div id="lista-comentarios">
    <h2>Lista de comentarios</h2>
    <!--Busqueda-->
    <input type="text" id="busquedaC" class="busqueda-tabla" placeholder="Busca por palabras..." title="Escribe palabras">
    <!--Tabla Comentarios-->
    <table id="tablaC" class="tabla">
        <tr class="header">
            <th>ID evento</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Comentario</th>
            <th>Fecha</th>
        </tr>
        {% for comentario in comentarios %}
        <tr>
            <td><a href="evento/{{comentario.id_evento}}">{{comentario.id_evento}}</a></td>
            <td>{{comentario.nombre}}</td>
            <td>{{comentario.correo}}</td>
            <td>{{comentario.texto}}</td>
            <td>{{comentario.fecha | date("d/m/Y H:i:s")}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% set roles = ["registrado","moderador","gestor","superusuario"] %}

{% if usuario.tipo == "superusuario" %}
<div id="lista-usuarios">
    <h2>Lista de usuarios</h2>
    <!--Busqueda-->
    <input type="text" id="busquedaU" class="busqueda-tabla" placeholder="Busca por email..." title="Escribe el email de un usuario">
    <!--Tabla Usuarios-->
    <table id="tablaU" class="tabla">
        <tr class="header">
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
        </tr>
        {% for usr in usuarios %}
        <tr>
            <td>{{usr.nombre}}</td>
            <td>{{usr.email}}</td>
            <td>  <select name="rol" onchange="modificarRol('{{usr.id_usuario}}')" id="usuario-{{usr.id_usuario}}-rol" data-id={{usr.id_usuario}}>
                <option value="{{usr.tipo}}">{{usr.tipo}}</option>
                {% for rol in roles %}
                    {% if usr.tipo != rol %}
                    <option value={{rol}}>{{rol}}</option>
                    {% endif %}
                {% endfor %}
              </select>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

<script type="text/javascript" src="js/panel_control.js"></script>
{% endblock %}