{% extends "base.html" %}

{% block sidebar %}
    <p class="titulo-lateral">Patrocinadores</p>
    <p><a href="https://www.eurostarshotels.com/">Eurostars Hotels</a></p>
    <p><a href="https://www.lavanguardia.com/">La Vanguardia</a></p>

    <p class="titulo-lateral">Colaboradores</p>
    <p><a href="http://www.renfe.com/">Renfe</a></p>
    <p><a href="https://www.mitaxi.net/">MyTaxi</a></p>
{% endblock %}

{% block etiquetas %}
    <input type="text" id="busqueda" class="busqueda-tabla" placeholder="Buscar evento..." title="Buscar eventos" data-tipo-usuario={{usuario.tipo}}>
    <table id="resultado" class="tabla">

    </table>

    <div class="etiquetas">
        <button id="pop"  class = "etiqueta">#Pop</button>
        <button id="rap"  class = "etiqueta">#Rap</button>
        <button id="fest" class = "etiqueta">#Festivales</button>
    </div>

    <script type="text/javascript" src="js/buscar_eventos.js"></script>
{% endblock %}

{% block content %}
    {% for polaroid in polaroids %}
        <div class="polaroid">
            <a href="evento/{{polaroid.id_evento}}">
                <img src={{polaroid.imagen}} alt="">
                <div class="texto-polaroid">
                    <p>{{polaroid.titulo}}</p>
                </div>
            </a>
        </div>
    {% endfor %}

    <script type="text/javascript" src="js/etiquetas.js"></script>
{% endblock %}